<!DOCTYPE html>
<html>
  <body>
    <header>
      <h1>新規登録完了</h1>
    </header>
    <main>
      <p>
        アカウントが正常に登録されました。
      </p>
      <p>
        ログインはこちら:
        <a href="http://localhost:5173/api/v1/tweet" target="_blank">ログインページ</a>
      </p>
    </main>
  </body>
</html>